.profile{
    background-color: aquamarine;
    height: 25rem;
    width: 100vw;
}

.image{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    font-size: 78px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-left: 100px;
    position: absolute;
}