* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.page-body {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(#000000a8, #000000a8), url(gallery/landing-page-img.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}


.form-body {
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    backdrop-filter: blur(10px) saturate(200%);
    -webkit-backdrop-filter: blur(10px) saturate(200%);
    background-color: #ffffff67;
    border-radius: 8px;
    border: 1px solid #d1d5db4d;
    overflow: hidden;
}

.button-box {
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #00cdac1f;
    border-radius: 30px;

}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;

}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, var(--primary), var(--secondary));
    border-radius: 30px;
    transition: .5s;
}

.into {
    margin: 30px auto;
    text-align: center;
}


.input-group {
    top: 180px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #e7e5e5;
    outline: none;
    background: transparent;
}

.input-field::placeholder {
    color: #ffffff;
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    display: block;
    margin: auto;
    cursor: pointer;
    background: linear-gradient(to right, var(--primary), var(--secondary));
    border: 0;
    outline: none;
    border-radius: 30px;
    margin-top: 40px;
}

.forgot span {
    margin: 30px 10px 30px 0;

}

.forgot span a {
    color: rgb(0, 0, 0);
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}

#login {
    left: 50px;
}

#register {
    left: 450px;
}

.agrement .check-box {
    margin: 30px 10px 30px 0;
    bottom: 68px;
}

.agrement span {
    font-size: 12px;

}

.agrement a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}